{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/6d5cea7546.js" crossorigin="anonymous"></script>
     <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'todo.css' %}">

    <title></title>
  </head>
  <body>
    <section id="era">
      <div id="navbar" class="navbar">
        <a class="navbar-brand" href="{% url 'homepage' %}">HomePage</a>
        <a class="navbar-brand text-right" href="#">About</a>
      </div>
      <div class="container my-3 py-5 text-center">
        <div class="row mb-5">
          <div class="col">
            <h1>write somthing cool in here about programming</h1>
          </div>
        </div>
<div class="shadow">

</div>
        <div  class="row">
          <div id="card" class="col-lg-3 col-md-6 my-3">
            <div  id="card" class="card">
              <div class="cardbody">
                  <img class="img-fluid" src="{% static 'frontend.jpg'%}" alt="">
                <h3 class="m-2">FrontEnd</h3>
                <h5>start designing your web</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <div class="card-footer">
                  <div class="btn-group">
                    <a class="btn" href="{% url 'todo:create' %}">Create Task</a>
                    <a class="btn" href="#">View Tasks</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="card" class="col-lg-3 col-md-6 my-3">
            <div class="card">
              <div class="cardbody">
                <img class="img-fluid" src="{% static 'backend.jpg' %}" alt="">
                <h3 class="m-2">BackEnd</h3>
                <h5>make your web functional</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <div class="card-footer">
                  <div class="btn-group">
                    <a class="btn" href="{% url 'todo:create' %}">Create Task</a>
                    <a class="btn" href="#">View Tasks</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="card" class="col-lg-3 col-md-6 my-3">
            <div class="card">
              <div class="cardbody">
                <img class="img-fluid" src="{% static 'server.jpg' %}" alt="">
                <h3 class="m-2">Server</h3>
                <h5>start designing your web</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <div class="card-footer">
                  <div class="btn-group">
                    <a class="btn" href="{% url 'todo:create' %}">Create Task</a>
                    <a class="btn" href="#">View Tasks</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="card" class="col-lg-3 col-md-6 my-3">
            <div class="card">
              <div class="cardbody">
                <img class="img-fluid" src="{% static 'database.jpg' %}" alt="">
                <h3 class="m-2">datebase</h3>
                <h5>start designing your web</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <div class="card-footer">
                  <div class="btn-group">
                    <a class="btn" href="{% url 'todo:create' %}">Create Task</a>
                    <a class="btn" href="#">View Tasks</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
  </body>
</html>
