body {
  max-width: 100%;
  position: relative;
  top: 60px;
  background: url("life.png") no-repeat fixed;
  background-size: 100%;
}

.container {
  max-width: 600px;
  position: relative;
  right: 29%;
}

input[type=text],
input[type=text]:focus {
  color: #D03245;
  border: none;
  background-color: #D03245;
  max-width: 600px;
  padding:20px;
}
#todos {
  background: none;
  border: none;
  max-height: 500px;
  font-size: 25px;
}


#task{
  padding:3px 0.5px;
  display: flex;
  flex-direction: column;
}

#new-task {
  width: 600px;
  padding: 20px;
  margin: 4px;
  height: 10px;
}
