html, body {
  height: 100%;
  position: relative;
  transition: .5s;
  box-sizing: border-box;
  background: url(bg.jpg) no-repeat center /cover;
}

#navbar {
  background-color: #6AC7E4;
}

#card {
  background-color: #686868;
}

#card:hover h3{
  background-color: grey;
}
