html, body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  transition: .5s;
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(3, 0, 30), rgb(115, 3, 192), rgb(236, 56, 188), rgb(253, 239, 249));
}

@keyframes change {
  0%{background-position: 0% 50%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 50%}
}

#navbar {
  background-color: #171332;
  transition: linear;
}

.shadow {
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0.5;
}

.navbar-brand {
  font-size: 15px;
  padding: 8px;
  border-radius: 20px;
  background: #fc5185;
  color: #f0f0f0;
  transition: ease .5s;
}

.navbar-brand:hover {
  color: #303841;
  font-size: 16px;
  background: #eeeeee;
}

.img-fluid {
  border: 1px #171332 solid;
  border-radius: 10px;
  z-index: 1;
}

.card:hover img {
  border: #dfebed;
}

.card {
  position: relative;
  border-radius: 10px;
  background-color: #171332;
  color: #eeeeee;
  transition: ease 0.5s;
}

.card:hover{
  background-color: #dfebed;
  color: #2b4450;
  transform: scale(1.1);
}

.card:hover a{
  background: #43dde6;
  color: #364f6b
}

.card-footer a {
  margin: auto 6px;
  text-decoration: none;
  text-decoration-style: none;
  background: #fc5185;
  color: #f0f0f0;
  border-radius: 20px;
  padding: 2px;
  box-sizing: border-box;
}
